*.env
*.log

config.json
test.js

/.idea/*
/.vscode/*
/data/*
/dist/*
/logs/*
/node_modules/*
/out/*
/plugins/*


!/plugins/index.js

!/plugins/EnderCore/
!/plugins/EnderHelp/
!/plugins/EnderMod/
!/plugins/EnderPing/
